<div class="w-screen flex justify-center">
    <app-registration-content-box box-title-text="Cadastro de entrada/saída" class="w-2/3">
        <form class="ps-8">
            <label class="form-control w-full max-w-xs">
                <div class="label">
                  <span class="label-text">What is your name?</span>
                  <span class="label-text-alt">Top Right label</span>
                </div>
                <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs p-8" />
                <div class="label">
                  <span class="label-text-alt">Bottom Left label</span>
                  <span class="label-text-alt">Bottom Right label</span>
                </div>
              </label>
        </form>
    </app-registration-content-box>
</div>