<div class="w-screen flex justify-center">
  <app-registration-content-box box-title-text="Cadastro de entrada/saída" class="w-2/3">
      <form class="ps-8 pb-8 pe-8 w-full" [formGroup]="financialEntryForm">
          <label class="form-control w-full pb-4">
            <div class="label">
              <span class="label-text text-secondary-content">Descrição:</span>
            </div>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                  <path fill-rule="evenodd" d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0 0 16.5 9h-1.875a1.875 1.875 0 0 1-1.875-1.875V5.25A3.75 3.75 0 0 0 9 1.5H5.625ZM7.5 15a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 7.5 15Zm.75 2.25a.75.75 0 0 0 0 1.5H12a.75.75 0 0 0 0-1.5H8.25Z" clip-rule="evenodd" />
                  <path d="M12.971 1.816A5.23 5.23 0 0 1 14.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 0 1 3.434 1.279 9.768 9.768 0 0 0-6.963-6.963Z" />
                </svg>
              </span>
              <input 
                formControlName="description" 
                type="text" 
                class="input input-bordered w-full p-8 pl-10 bg-primary-content"
                [ngClass]="{'input-error': financialEntryForm.get('description')?.invalid && financialEntryForm.get('description')?.touched}" />
            </div>
            <p 
              *ngIf="financialEntryForm.get('description')?.invalid && financialEntryForm.get('description')?.touched" 
              class="text-error text-sm mt-1">É obrigatório informar a descrição da transação</p> 
              <!-- change this conditional to ng-template instead of using directly a p tag -->
          </label>
          <label class="form-control w-full pb-4">
              <div class="label">
                <span class="label-text text-secondary-content">Valor:</span>
              </div>
              <div class="relative">
                  <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">R$</span>
                  <input 
                    formControlName="value" 
                    type="text" 
                    class="input input-bordered w-full p-8 pl-10 bg-primary-content"
                    [ngClass]="{'input-error': financialEntryForm.get('value')?.invalid && financialEntryForm.get('value')?.touched}" />
              </div>
              <div *ngIf="financialEntryForm.get('value')?.invalid && financialEntryForm.get('value')?.touched" class="text-error text-sm mt-1">
                <p *ngIf="financialEntryForm.get('value')?.errors?.['required']">É obrigatório informar o valor da transação</p>
                <p *ngIf="financialEntryForm.get('value')?.errors?.['min']">O valor da transação deve ser maior do que zero</p>
                <p *ngIf="financialEntryForm.get('value')?.errors?.['pattern']">O valor da transação deve estar no formato 0,00</p>
              </div>
          </label>
          <label class="form-control w-full pb-4">
            <div class="label">
              <span class="label-text text-secondary-content">Data (dd/mm/aaaa):</span>
            </div>
            <div class="relative">
              <span class="absolute inset-y-0 left-0 flex items-center pl-3 text-gray-500">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 448 512" fill="currentColor">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"/>
                  </svg>
              </span>
              <input 
                formControlName="transactionDate" 
                class="input input-bordered w-full p-8 pl-10 bg-primary-content"
                [ngClass]="{'input-error': financialEntryForm.get('transactionDate')?.invalid && financialEntryForm.get('transactionDate')?.touched}" />
            </div>
            <p *ngIf="financialEntryForm.get('transactionDate')?.invalid && financialEntryForm.get('transactionDate')?.touched" class="text-error">É obrigatório informar a data </p>
          </label>
          <label class="form-control w-full pb-4">
            <div class="label">
              <span class="label-text text-secondary-content">Tipo:</span>
            </div>
            <div class="relative">
              <select 
                formControlName="type" 
                class="select select-bordered w-full h-16 bg-primary-content">
                <option *ngFor="let type of transactionTypes" [value]="type.value">
                  {{type.label}}
                </option>
              </select>
            </div>
          </label>
          <button class="btn w-full" type="submit" (click)="onSubmit()">
            <span>Cadastrar transação</span>
          </button>
        </form>
  </app-registration-content-box>
</div>

<div class="w-screen flex justify-center">
  <app-registration-content-box box-title-text="Entradas/saídas registradas" class="w-2/3">
    <div class="p-8">
      <table class="table bg-primary-content">
        <thead>
          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" (change)="onChangeAllCheckboxes($event)" [checked]="isEverythingSelected()" />
              </label>
            </th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Tipo de transação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entriesList; let i=index">
            <th>
              <label>
                <input type="checkbox" class="checkbox" [value]="entry.id" [checked]="isSelected(entry.id!)" (change)="onCheckboxChange(entry.id!)"/>
              </label>
            </th>
            <td>{{ entry.transactionDate | date:'dd/MM/yyyy':'pt-BR' }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.value | currency:'BRL'}}</td>
            <td [ngSwitch]="entry.type">
              <div class="badge badge-success gap-2 justify-end" *ngSwitchCase="TransactionTypeEnum.Income">
                Entrada
              </div>
              <div class="badge badge-error gap-2 justify-end" *ngSwitchCase="TransactionTypeEnum.Expense">
                Saída
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-registration-content-box>
</div>